/* font-family: 'Geologica', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */

:root
{
    --primary-color: #FFD333;
    --secondary-color: #F5F5F5;
    --light-color: #FFFFFF;
    --dark-color: #3D464D;
}


*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: 0;
   
}
body{
    background-color: var(--secondary-color);
    /* padding: 10px; */
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.h1, h2, h3 {
    font-weight: 700 !important;
}

.h4, h5, h6 {
    font-weight: 500 !important;
}

.mb-30 {
    margin-bottom: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.p-30 {
    padding: 30px;
}

.btn.btn-primary {
    color: var(--dark-color) !important;
}

.btn-square {
    width: 40px;
    height: 40px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 50px;
    height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 20px 10px;
    color: var(--secondary-color);
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary-color);
}

.nav-categories{
    background-color: var(--primary-color);
}

.products{
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    

}
/*  */
/* .product-content{
    padding: 0 20px;
} */

/* .product >img{
    width: 100%;
    height: 300px;
} */

.product-title{
    font-size: 32px;
    padding: 16px 0;
}
.product-title,
.product-price-container,
.product-rating-container,
.product-description,
.product-category{
    padding: 8px 16px;
}

.product-rating-container{
    display: flex;
   align-items: center;
   gap: 20px;
}

.product-price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.add-to-cart{
    background-color: rgb(7, 2, 38);
    padding:2px 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.add-to-cart>img{
    width: 30px;
    color: color;
}
.product-price-container>a>img{
    color: white;
}


.card-img-top{
    height: 250px;
} 
.shop-img{
    width: 100%;
    height: 280px;
    object-fit: contain;

}
.cart-btn{
    width: 100%;
}
.cart-btn>button{
    width: 70%
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
   /* padding: 30px; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {    
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 450px; /* Adjust the max-width to control the modal size */
    /* text-align: center; */
  }
.container-cart{
    /* background-color: green; */
    /* width: 100%; */
    
}
.display-orders{
    width: 100%; 
    
    display: grid;
    flex-wrap: wrap;
    /* object-fit: cover; */
    gap: 30px;
}


.card-cart{
    background-color: white;
    width: 300px;
    padding: 10px;
}

  





#header-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0 3px 12px 3px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: .5s;
}

.carousel-indicators .active {
    width: 30px;
    background: #FFFFFF;
}
img {
    vertical-align: middle;
    border-style: none;
  }
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(61, 70, 77, .5);
    z-index: 1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    border-top: 1px dashed lighten(var(--dark-color), 50%);
    z-index: -1;
}

.category-sub-head{
    font-size: 40px;
    font-weight: 600;
    background-color: #FFD333;
    margin: 20px;
    padding: 10px;
    text-decoration: underline;
  
    text-transform: uppercase;
}
.top-nav{
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 80;
  opacity: 0.8;
}

.modalProduct{
    z-index: 100;
}




  .cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 550px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 40px 20px 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
    opacity: 1;
  }
  
  .cart-active{
    right:0;
    transition: 0.5s;
  }
  
  .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom:20px ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  
  .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
  }
  
  .cart-img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    border:2px solid  rgba(0,0,0,0.1);
    padding: 5px;
  }
  .detail-box{
    display: grid;
    row-gap: 0.5rem;  
  }
  
  .price-box{
    display: flex;
      justify-content: space-between; 
  }
  
  .cart-food-title{
     font-size: 1rem;
     text-transform: uppercase;
     /* color:#ff6348; */
     font-weight: 500;
  }
  
  .cart-price{
    font-weight: 500;
  }
  
  .cart-quantity{
    border:1px solid rgba(0,0,0,0.1);
    outline:none ;
    width: 4.4rem;
    text-align: center;
    font-size: 1rem;
  }
  
 
 
  
  .total-title{
    font-size: 1rem;
    font-weight: 600;
  }
  
  .total-price{
    margin-left: 0.5rem;
  }
  

  
  #cart-close{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
  }